* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.content {
    text-align: center;
    width: 80%;
    max-width: 720px;
}

.content h1 {
    font-size: 3vw;
    color: #fff;
}

.content p {
    font-size: 2vw;
    margin: 10px 0;
    color: #fff;
}

.content button {
    background-color: #808080;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    cursor: pointer;
    font-size: 2vw;
    transition: background-color 0.3s;
}

.content button a {
    color: #000;
    text-decoration: none;
}

.content button:hover {
    background-color: #656565;
}

@media (max-width: 768px) {
    .content h1, .content p, .content button {
        font-size: 16px;
    }
}