* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-name {
    width: 100%;
    background-color: rgba(3, 29, 24, 0.75);
    display: flex;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
}

.add-button {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 2;
}

.add-button button {
    width: 50px;
    height: 50px;
    background-color: rgba(3, 29, 24, 0.8);
    color:#fff;
    font-size: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 5px;
}

.section-photos {
    width: 100%;
    height: 100vh;
    /*background-color: rgba(32, 184, 153, 0.75);*/
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
}

.photo-tile {
    position: relative;
    border-radius: 10px;
    width: 480px; /* Ширина плитки */
    height: 360px; /* Высота плитки */
    margin: 10px; /* Отступ между плитками */
    background-color: #f0f0f0; /* Фоновый цвет плитки */
    flex: 1;
    min-width: 480px;
    max-width: 480px;
}

.photo-tile img {
    border-radius: 10px;
    width: 480px;
    height: 360px;
}

.photo-tile .photo-details {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    width: 100%;
    padding: 5px;
    display: flex; /* Использование флекс-контейнера */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

.modal {
    display: none;
    position: fixed;
    top: 15%;
    left: center;
    width: auto;
    height: 80%;
    background-color: #808080;
    z-index: 3;
    border-radius: 30px;
    border: 2px solid white;
}

.modal-content {
    width: 100%;
    height: 100%;
    margin: 100px auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-name {
    width: 100%;
    position: absolute;
    display: flex;
    background-color: rgba(3, 29, 24, 0.75);
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    gap: 5px;
    color: #fff;
    font-size: 30px;
    border-radius: 30px 30px 0 0;
}
.modal-name img {
    width: 75px;
    height: 75px;
}

.modal-name h1 {
    text-align:  center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 2;
}

.left-section {
    width: 75%;
    padding: 10px 0;
    text-align: center;
}

.right-section {
    width: 25%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

#fileInput {
    display: none;
}

#uploadImage {
    max-width: 80%;
    max-height: 75%;
    border: 2px solid black;
    border-radius: 5px;
}

#imageTitle {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

#uploadButton {
    display: block;
    margin: 10px auto;
}

.modal-content button {
    background-color: #656565;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#look-photo-modal {
    background-color: #808080;
    width: 60%;
    max-width: 1600px;
    height: 59%;
    display: none;
    z-index: 3;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reactions-comments {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.modal-image img {
    max-width: 80%;
    max-height: 80%;
}

.modal-details {
    text-align: center;
    width: 45%;
    justify-content: center;
    margin-right: 100px;
}

.reactions, .comments {
    text-align: center;
}

#add-reaction, #add-comment {
    background-color: #656565;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

#login-modal {
    background-color: #808080;
    width: 300px;
    height: auto;
    display: none;
    z-index: 3;
    border: 1px solid #fff;
    border-radius: 30px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.oval-input {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
}

.oval-input label {
    margin-right: 10px;
    color: #fff;
}

.oval-input input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
}

.modal-content login-content button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.register-modal {
    background-color: #808080;
    width: 300px;
    height: auto;
    display: none;
    z-index: 3;
    border: 1px solid #fff;
    border-radius: 30px;
}